{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
              {% load crispy_forms_tags %}
              <h3>Create a Post</h3>
              <form method="post">
                  {% csrf_token %}
                  {{ formset | crispy }}
                  <input type="submit" class="btn btn-info btn-lg" value="Submit">
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}