{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
              {% load crispy_forms_tags %}
              <form method="post" style="margin-top: 1.3em;">
                {{ post_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}